@model GHRace3.ViewModels.DBInfoViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="large-12 columns">
        <h1>GHRace database status:</h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="large-7 columns">
        <h2>Totals:</h2>
        <h2>@Model.Tracks tracks</h2>
        <h2>@Model.Greyhounds greyhounds</h2>
        <h2>@Model.Results results</h2>
    </div>
    <div class="large-5 columns">
        <h2>Latest results:</h2>
        @foreach (var item in Model.RecentlyAdded)
        {
            <h3>@item.TrackName on @item.DateofLatestRace.ToShortDateString()</h3>
        }
    </div>
</div>