@model IEnumerable<GHRace3.ViewModels.RaceViewModel>
@{
    ViewBag.Title = "Load";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}

<div class="row">
    <form action="/Home/Load">
        <fieldset>
            <legend>URL's</legend>
            <div class="row">
                <div class="large-12">
                    <p>Each URL must be on a new line.</p>
                </div>
                <div class="large-12 text-right">
                    <a id="minimize" class="tiny button">-</a>
                    <a id="maximize" class="tiny button">+</a>
                </div>
            </div>
            <div id="url-form">
                <div class="row">
                    <div class="large-12">
                        <textarea name="Url" id="load-url-text-area"></textarea>
                    </div>
                    <div class="large-12 text-right">
                        <input id="load-button" type="submit" class="button" value="Load" />
                    </div>
                </div>
                <div id="progress-bar-container" class="progress"><span id="progress-bar" class="meter" style="width: 0%"></span></div>
            </div>
        </fieldset>
    </form>
</div>
<div class="row">
    
</div>

<div class="row">
@if (Model != null)
{
    <script type="text/javascript">
        $("#url-form").slideUp(1000, function () { });
    </script>
    
    <table border="1">
    <tr class="table-header">
        <td>Track</td>
        <td>Name</td>
        <td>Date</td>
        <td>Finish</td>
        <td>Grade</td>
        <td>Time/distance1</td>
        <td>Time/distance2</td>
        <td>Time/distance3</td>
        <td>Time/sec</td>
        <td>SP1</td>
        <td>SP2</td>
        <td>SP3</td>
        <td>Distance</td>
        <td>Comments</td>
        <td>Trainer</td>
        <td>Trap</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Trackname</td>
            <td>@item.GreyhoundName</td>
            <td>@item.RaceDate</td>
            <td>@item.Finish</td>
            <td>@item.Grade</td>
            <td>@item.TimeDistance1</td>
            <td>@item.TimeDistance2</td>
            <td>@item.TimeDistance3</td>
            <td>@item.TimeSec</td>
            <td>@item.SP1</td>
            <td>@item.SP2</td>
            <td>@item.SP3</td>
            <td>@item.RaceDistance</td>
            <td>@item.Comments</td>
            <td>@item.Trainer</td>
            <td>@item.Trap</td>
        </tr>
    }

</table>
}
</div>

<script src="~/Scripts/Custom/load.js"></script>

